<h1> Pandas </h1>

In [ ]:
!conda install pandas -y

## Goals
<ul>
  <li>Understand the fundamentals of Pandas package and how it is used for manipulating datasets</li>
</ul>

<p> What is Pandas? <p>
<ul>
  <li>A python package providing a data structure</li>
  <li> Specifically designed with “relational” or “labeled” data </li>
   <li> Tabular data with heterogeneously-typed columns, as in an SQL table or Excel spreadsheet</li>
   <li> time series data </li>
   <li> Series (1-dimensional) and DataFrame (2-dimensional) </li>
    <li> The Pandas module mainly works with the tabular data, whereas the NumPy module works with the numerical data. </li>
</ul>

<p> Why use Pandas used over other lists? <p>
<ul>
  <li> Easy handling of missing data</li>
  <li> columns can be inserted and deleted </li>
  <li> flexible group by functionality to perform split-apply-combine</li>
  <li>  Flexible reshaping and pivoting of data sets</li>
</ul>
<p> What is Series in Pandas? <p>
<ul>
  <li> A Series is built on top of the NumPy array object.
  <li> What differentiates the NumPy array from a Series, is that a Series can have axis labels, meaning it can be indexed by a label, instead of just a number location. 
   <li> It also doesn't need to hold numeric data, it can hold any arbitrary Python Object.</li>
 </ul>

## 1. Foundational Pandas

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# Create a series from pandas list
myindex = ['USA','Canada','Mexico']

In [ ]:
# Create values from the index list
mydata = [1776,1867,1821]

In [ ]:
# Add index to the data

In [ ]:
# Create 2 dictonaries and convert to pandas
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [ ]:
# Convert into Pandas Series

In [ ]:
# Search value by name like in a database search system

In [ ]:
# Integer Based Location information also retained!

### 1.1 Operations

In [ ]:
# Grab just the index keys

In [ ]:
# Similiar to numpy, you can Perform Operations Broadcasted across entire Series

In [ ]:
# Divide by 10

In [ ]:
# Values that do not exist in both series become NaN while the rest are added

In [ ]:
# You can fill the missing value from the other column wit hzero

## 2. Dataframes

<p> 
Throughout the course, most of our data exploration will be done with DataFrames. DataFrames are an extremely powerful tool and a natural extension of the Pandas Series.

**A Pandas DataFrame consists of multiple Pandas Series that share index values.**<p>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# Make sure we all have the same random number
# Generate a random number of shape 4,3 with any value in range of 50
np.random.seed(101)
mydata = np.random.randint(0,50,(4,3))
mydata

In [ ]:
# Create the index
myindex = ['CL','NY','AZ','TX']

In [ ]:
# Create the column header
mycolumns = ['Jan','Feb','Mar']

In [ ]:
# Create a dataframe out of the data

In [ ]:
# Add index to the dataframe

In [ ]:
# Add column headings to the dataframe

In [ ]:
#Get the info of the dataframe created

### 2.1 Reading CSVs

<p> 
CSV: Comma Separated Values files are text files that use commas as field delimeters.
    
    * References
    * Bryant, P. G. and Smith, M (1995) Practical Data Analysis: Case Studies in Business Statistics. Homewood, IL: Richard D. Irwin Publishing:

In [ ]:
#Read data from the CV

In [ ]:
# Inspect the columns of the df

In [ ]:
# Inspect the first 3 entries in the head

In [ ]:
# Inspect the last 3 entries in the tail

In [ ]:
# Inspect the dataframe in general

In [ ]:
# Get the length of the dataframe

In [ ]:
# Get the Generate descriptive statistics of the dataframe

In [ ]:
# Get the Generate descriptive statistics of the dataframe transposed

### 2.2 Selection and Indexing

Let's learn how to retrieve information from a DataFrame.

In [ ]:
# Select the total bill in the frame

In [ ]:
# Inspect the type of that row

In [ ]:
# Inspect 2 rows, tip: pass in a python list to the dataframe

### 2.3 Create New Columns

In [ ]:
# Create new columns based on the existing columns based tip and total_bill to get tip percentage

In [ ]:
# inspect the dataframe

In [ ]:
# Create new columns based on the existing columns based total bill and size to get price per person

### 2.4 Adjust Existing Columns

In [ ]:
# Because pandas is based on numpy, we get awesome capabilities with numpy's universal functions!

In [ ]:
# inspect the frame

### 2.5 Remove Columns

In [ ]:
# remove the tip percentage column

In [ ]:
# inspect the head

### 2.6 Index Basics

Before going over the same retrieval tasks for rows, let's build some basic understanding of the pandas DataFrame Index.

In [ ]:
# Get the index of the dataframe

In [ ]:
# Set the index of the dataframe

In [ ]:
# Inspect the head

In [ ]:
# Reset the index

In [ ]:
# Inspect the head

### 2.7 Grab a Single Row

In [ ]:
# grab the first row

In [ ]:
# Set the index of the payments

In [ ]:
# Name Based

### 2.8 Grab Multiple Rows

In [ ]:
# get multiple rows using iloc

In [ ]:
# get multiple rows using index

### 2.9 Remove Row

Typically are datasets will be large enough that we won't remove rows like this since we won't know thier row location for some specific condition, instead, we drop rows based on conditions such as missing data or column values. The next lecture will cover this in a lot more detail.

In [ ]:
# drop Sun2959 row

### 2.10 Insert a New Row

In [ ]:
# insert a new row in the first location

In [ ]:
# check the new row inserted

In [ ]:
# Check the type of that row

In [ ]:
# Check the tail of the dataframe

In [ ]:
# Append the row to the tail of the dataframe

In [ ]:
# Check the tail of the dataframe

## 3 Conditional Filtering

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# read the .csv file
df = pd.read_csv('tips.csv')

In [ ]:
# Conditional checking if bill is larger than 30

In [ ]:
# Check if values in the dataframe are removed

In [ ]:
# Remove any bills that are higher than 30

In [ ]:
# Show only makes in the dataframe

### 3.1 Multiple Conditions


Recall the steps:

* Get the conditions
* Wrap each condition in parenthesis
* Use the | or & operator, depending if you want an 
    * OR | (either condition is True)
    * AND & (both conditions must be True)
* You can also use the ~ operator as a NOT operation

In [ ]:
# total bill is lower than 20 and note males

In [ ]:
# total bill is lower than 20 and not males

In [ ]:
# Another way to put not

In [ ]:
# Filter data on Saturday and Sunday

In [ ]:
# multiple conditions for filtering data science
def multiCondition(price):
    if price < 10:
        return '$'
    elif price >= 10 and price < 30:
        return '$$'
    else:
        return '$$$'

In [ ]:
# Apply multicondition to data

In [ ]:
df

### 3.2 Simple functions with Lambda

In [ ]:
# Rewriting a function using lambda

In [ ]:
# apply the lambda function

## 4 Missing Data

In [ ]:
# Load data
df = pd.read_csv('movie_scores.csv')

In [ ]:
# Inspect data

### 4.1 Checking and Selecting for Null Values

In [ ]:
# Find data that is null

In [ ]:
# Find data that is not null

In [ ]:
# Remove not null values

In [ ]:
# Multiple conditions Remove not null values

In [ ]:
# Another way of dropping data

In [ ]:
# Drop rows that is axis=0 and thresh dictates how many non-nans to survive

### 4.2 Fill Data

In [ ]:
# Fill with random word

In [ ]:
# Fill first name with empty

In [ ]:
# display dataframe

In [ ]:
# Get the mean of the column pre_movie_score

In [ ]:
# Fill the empty values with the mean of the column pre_movie_score

In [ ]:
# another way to fill column with mean value

## 5. GroupBy Operations

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('mpg.csv')

In [ ]:
df

In [ ]:
# Make the model_year an index
# model_year becomes the index! It is NOT a column name,it is now the name of the index

In [ ]:
# Create a new dataframe grouped by the model_year mean

In [ ]:
# print the average index
avg_year.index

In [ ]:
# show the columns
avg_year.columns

In [ ]:
# print the avg_year
avg_year

In [ ]:
# Lets describe the original model_year

In [ ]:
# Lets describe the original model_year in transpose to get more details in the column

In [ ]:
# Multi group modeling - check first first 2 columns for joining this column

## 6. Combining DataFrames

### 6.1 Concatentation

In [ ]:
data_one = {'A': ['A0', 'A1', 'A2', 'A3'],'B': ['B0', 'B1', 'B2', 'B3']}

In [ ]:
data_two =s {'C': ['C0', 'C1', 'C2', 'C3'], 'D': ['D0', 'D1', 'D2', 'D3']}

In [ ]:
#Convert dicontary to dataframes

In [ ]:
#inspect one

In [ ]:
#inspect one

In [ ]:
# Concatenate one and two along the y-axis

In [ ]:
# Concatenate one and two along the x-axis

### 6.2 Merging Tables

In [ ]:
# Merging dataframes

registrations = pd.DataFrame({'reg_id':[1,2,3,4],'name':['Andrew','Bobo','Claire','David']})
logins = pd.DataFrame({'log_id':[1,2,3,4],'name':['Xavier','Andrew','Yolanda','Bobo']})

In [ ]:
# Notice how Andrew and Bobo exists in both

In [ ]:
# Perform an inner join on dataframes

In [ ]:
# Perform a left join

In [ ]:
# perform right join

In [ ]:
# perform out join

## 7. Text Methods

In [ ]:
mystring = 'hello'

In [ ]:
# capitize

In [ ]:
# check if capitilized

### 7.1 Text Methods

In [ ]:
names = pd.Series(['andrew','bobo','claire','david','4'])

In [ ]:
# check capitalize on series

In [ ]:
# check isdigit on series

### 7.2 Splitting and manipulating text

In [ ]:
# Example
tech_finance = ['GOOG,APPL,AMZN','JPM,BAC,GS']

In [ ]:
# Get the length of the text

In [ ]:
# Convert to a series

In [ ]:
# Check tickers

In [ ]:
# Split on the comma ","

In [ ]:
# split on the comma and show me the first variable

In [ ]:
# Split on the comma nad expand each variable to own of its column

### 7.3 Cleaning or Editing Strings

In [ ]:
messy_names = pd.Series(["andrew  ","bo;bo","  claire  "])

In [ ]:
# Remove ";"

In [ ]:
# Remove spaces

In [ ]:
# Combine both methods on the top

In [ ]:
# Clean text fully

## 8. Mini-Project


This data set contains booking information for a city hotel and a resort hotel, and includes information such as when the booking was made, length of stay, the number of adults, children, and/or babies, and the number of available parking spaces, among other things.

All personally identifying information has been removed from the data.

Acknowledgements
The data is originally from the article Hotel Booking Demand Datasets, written by Nuno Antonio, Ana Almeida, and Luis Nunes for Data in Brief, Volume 22, February 2019.


----------------------------
NOTE: Names, Emails, Phone Numbers, and Credit Card numbers in the data are synthetic and not real information from people. The hotel data is real from the publication listed above.

In [ ]:
# Input data from file
import pandas as pd
hotels = pd.read_csv("hotel_booking_data.csv")

In [ ]:
# Get a feel of the data
hotels.head()

### 9.1 How many rows are there?

### 9.2 Is there any missing data? If so, which column has the most missing data?

### 9.3 Drop the "company" column from the dataset.

### 9.4 What are the top 5 most common country codes in the dataset?

### 9.5 What is the name of the person who paid the highest ADR (average daily rate)? How much was their ADR?

### 9.6 The adr is the average daily rate for a person's stay at the hotel. What is the mean adr across all the hotel stays in the dataset?**

### 9.7 What is the average (mean) number of nights for a stay across the entire data set? Feel free to round this to 2 decimal points.

### 9.8 What is the average total cost for a stay in the dataset? Not *average daily cost*, but *total* stay cost. (You will need to calculate total cost your self by using ADR and week day and weeknight stays). Feel free to round this to 2 decimal points.

### 9.9 What are the names and emails of people who made exactly 5 "Special Requests"?

### 9.10 What percentage of hotel stays were classified as "repeat guests"? (Do not base this off the name of the person, but instead of the is_repeated_guest column)

### 9.11 What are the top 5 most common last name in the dataset? Bonus: Can you figure this out in one line of pandas code? (For simplicity treat the a title such as MD as a last name, for example Caroline Conley MD can be said to have the last name MD)

### 9.12 What are the names of the people who had booked the most number children and babies for their stay? (Don't worry if they canceled, only consider number of people reported at the time of their reservation)

### 9.13 What are the top 3 most common area code in the phone numbers? (Area code is first 3 digits)

### 9.14 How many arrivals took place between the 1st and the 15th of the month (inclusive of 1 and 15) ? Bonus: Can you do this in one line of pandas code?